
 /* Estilos para la barra de progreso */
 #progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    height: 30px; /* Agregar altura para que la barra sea visible */
  }
  
  #progress {
    background-color: #4CAF50;
    height: 100%; /* La barra de progreso ocupa toda la altura de la barra de progreso */
    width: 0;
    transition: width 4s; /* Animación de transición de 4 segundos */
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
  }