@media screen and (max-width: 1700px){

    .containercover{
        background-position: 50%;
    }

}

@media screen and (max-width:1200px){

    header{
        padding: 40px;
    }

    .containercover{
        background-position: -100px;
    }

    .containercover .svg img{
        width: 500px;
    }

}

@media screen and (max-width: 1020px){

    .containercover{
        background-image: url("");
        background-color: #FD8986;
    }

    .containercover .svg img{
        display: none;
    }

    .containercover .text{
        max-width: 600px;
    }

}

@media screen and (max-width: 720px){

    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: white;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }
}