
#body-bienvenida, .container-bienvenida{
    background-color: #000000;
    color: white;
    cursor: not-allowed; 
    
}

.container-bienvenida{
    background-color: #000000;
    color: white;
    cursor: not-allowed; 
}
  
  .alert-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .alert-heading {
      font-family: fantasy;
      font-weight: 900; 
      color: #f0c84f; 
      text-shadow: 2px 2px 4px rgba(2,2,2,2.1000);
  }
  
  .alert-description {
    margin-top: 10px;
    color: white;
  }
  
  .white-line {
    border-top: 2px solid white; 
    margin-top: 10px;
  }
  
  .paragraph-container {
    margin-top: 20px;
  }
  
  #bienvenida-p {
    font-family: "Segoe IU", sans-serif;
  
  }
  
  .link-acceso{
      font-family: "Segoe IU", sans-serif;
      color: #A2825C;
  }
  